<h1>Listing Horses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Colour</th>
      <th>Genotype</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for horse <- @horses do %>
    <tr>
      <td><%= horse.colour %></td>
      <td><%= horse.genotype %></td>
      <td><%= horse.name %></td>
      <td><%= horse.rating %></td>
      <td>
        <span><%= link "Show", to: Routes.horse_path(@conn, :show, horse) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Horse", to: Routes.horse_path(@conn, :new) %></span>
