<h3>Race</h3>

<div class="card" style="width: 100%; margin-bottom: 50px;">
  <ul class="list-group list-group-flush">

    <li class="list-group-item">
      <strong>Name:</strong>
      <%= @race.name %>
    </li>

    <li class="list-group-item">
      <strong>Horses allowed:</strong>
      <%= @race.horses_allowed %>
    </li>

    <li class="list-group-item">
      <strong>Length:</strong>
      <%= @race.length %>
    </li>

    <li class="list-group-item">
      <strong>Location:</strong>
      <%= @race.location %>
    </li>

    <li class="list-group-item">
      <strong>Lottery horses:</strong>
      <%= @race.lottery_horses %>
    </li>

    <li class="list-group-item">
      <strong>Weather:</strong>
      <%= @race.weather %>
    </li>
  </ul>
</div>

<h3>Horses</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Colour</th>
      <th>Genotype</th>
      <th>Rating</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for horse <- @horses do %>
    <tr>
      <td><%= horse.name %></td>
      <td><%= horse.colour %></td>
      <td><%= horse.genotype %></td>
      <td><%= horse.rating %></td>

      <td>
        <span><%= link "Show", to: Routes.horse_path(@conn, :show, horse) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<span><%= link "Back", to: Routes.race_path(@conn, :index) %></span>
